{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row g-4">
            <!-- Event Details Card -->
            <div class="col-md-8">
                <div class="card p-4">
                    <h1 class="event-header">{{ event.Title }}</h1>
                    <img href="{{ event.Image }}" class="img-fluid rounded mb-3" alt="Event Image">
                    <p class="mb-3">{{ event.Description }}</p>
                    <p><strong>Artist: </strong>{{ event_creator.name }}</p>
                    <p><strong>Date & Time: </strong>{{ event.Start_date }}: {{ event.Start_time }}</p>
                    <p><strong>Location: </strong>{{ event.Venue }}</p>
                    <p><strong>Tickets Available: </strong>{{ event.Tickets_avaliable }}</p>
                </div>
            </div>  
            <!-- Booking Section -->
            {% if status == "Open" %}
            <div class="col-md-4">
                <div class="card p-4">
                    <h1 class="event-header">Book Your Tickets</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          {% for message in messages %}
                              <div class="alert alert-danger">
                              {{ message }}
                            </div>
                          {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {{wtf.quick_form(order_form)}}
                </div>
            </div>
            {% else %}
            <div class="col-md-4" style="opacity: 0.3;">
                <div class="card p-4">
                    <h1 class="event-header">Book Your Tickets</h1>
                
                    <div class="alert alert-danger">
                        <p>This event is {{ status }}</p>
                    </div>

                    <label class="control-label" for="tickets">Ticket Quantity</label>
                    <input class="form-control" id="tickets" name="tickets" required="" type="number" value="" disabled>
                    <input class="btn btn-default" id="submit" name="submit" type="submit" value="Post" disabled>
                </div>
            </div>

            {% endif %}
            <!-- Comments Section -->
            <div class="col-12 pb-5">
                <div class="card p-4">
                    <h1 class="event-header">Comments</h1>
                    <iframe src="{{ url_for('main.Comments') }}?id={{ event.id }}" width="100%" height="500"></iframe>
                </div>
            </div>
        </div>
        <script>
            function clearTickets() {
                document.getElementById("tickets").value = null
            }
            window.onload = clearTickets;
        </script>
    </div>

{% endblock %}