{% extends "base.html" %}

{% block header %}
<div class="top-section">
    <div class="py-2">
        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search events">
            <button id="searchButton">Search</button>
        </div>

        <!-- Banner  -->
        <div class="banner-content">
            <h1>Find the Best Culinary Events</h1>
            <button>Find Your Next Event</button>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!-- Actions -->
    <div class="categories">
        <div class="category-item">
            <a href="{{ url_for('main.createEvent') }}">
                <i class="fas fa-calendar-plus fa-3x" style="color: #ff5733;"></i>
                <span>Create Event</span>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('main.profile') }}">
                <i class="fas fa-user fa-3x" style="color: #6f42c1;"></i>
                <span>Profile</span>
            </a>
        </div>
        <div class="category-item">
            <a href="{{ url_for('main.history') }}">
                <i class="fas fa-ticket-alt fa-3x" style="color: #ff5733;"></i>
                <span>Bookings</span>
            </a>
        </div>
    </div>

    <!-- Events Section -->
    <div class="container mt-5">
        <h2 class="text-left">Top Trending Food Events</h2>
        <div class="trending-events" id="eventContainer">
            <!-- Display events -->
             {% for event in events %}

                {% include "./partials/event_card.html" %}

             {% endfor %}
        </div>
        
        <!-- Show More Button -->
        <div class="show-more-container pb-4">
            <button onclick="showMoreEvents()" class="btn btn-secondary">Show More</button>
        </div>
    </div>

    

    <!-- JavaScript to Show More Events -->
    <script>
        function showMoreEvents() {
            const hiddenEvents = document.querySelectorAll('.event-card[style="display: none;"]');
            hiddenEvents.forEach(event => event.style.display = 'block');
            document.querySelector('.show-more-container').style.display = 'none';
        }

    </script>

{% endblock %}