{% extends "base.html" %}

{% block header %}
<div class="top-section">
    <div class="py-2">
        <!-- Search Bar -->
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search events">
            <button id="searchButton" onclick="search()">Search</button>
        </div>

        <!-- Banner  -->
        <div class="banner-content">
            <h1>Find the Best Culinary Events</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!-- Actions -->
    <h3 class="category-title">Categories</h3>
    <div class="categories">
        
        {% for category in categories %}
            <div class="category-item">
            <a class="btn-default" href="{{ url_for('main.index') }}?category={{ category.0 }}&search_keywords={{ search_keywords }}">
                <span>{{ category.1 }}</span>
            </a>
        </div>
        {% endfor %}
    </div>
    <div style="justify-content: center; text-align: center;">
        <a class="btn-default" href="{{ url_for('main.index') }}">Reset selection</a>
    </div>
    
    <!-- Events Section -->
    <div class="container mt-5">
        <h2 class="text-left">Top Trending Food Events</h2>
        <div class="trending-events" id="eventContainer">
            <!-- Display events -->
             {% for event in events %}

                {% include "./partials/event_card.html" %}

             {% endfor %}
        </div>
    </div>

    

    <!-- JavaScript to Show More Events -->
    <script>
        function search(){
            search_keywords = document.getElementById("searchInput").value;
            
            window.location.replace("{{ url_for('main.index') }}?category={{ category }}&search_keywords=" + search_keywords);
        }

    </script>

{% endblock %}