{% extends "base.html" %}

{% block content %}
    <!-- Profile Container -->
    <div class="container profile-container">
        <div class="profile-header">
            <h2>{{ user.name }}</h2>
            <p>Email: {{ user.emailid }}</p> 
        </div>

        <!-- Profile Options -->
        <a href="{{ url_for('main.history') }}" class="btn-profile">Booking History</a>
        <a href="{{ url_for('main.history2') }}" class="btn-profile">Event creation History</a>
        <a href="{{ url_for('auth.logout') }}" class="btn-logout">Logout</a>
    </div>
{% endblock %}