{% extends 'base.html' %}
{% block content %}
<div class="login-page" >

    <!-- Register Form -->
    <div class="register-container">
        <h2 class="register-title">Register</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-danger">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.csrf_token }}
    
            {% if form.username %}
                <div class="mb-3">
                    <label for="username" class="form-label">{{ form.username.label }}</label>
                    {{ form.username(class="form-control", id="username", placeholder="Choose a username") }}
                </div>
            {% endif %}
    
            {% if form.email %}
                <div class="mb-3">
                    <label for="email" class="form-label">{{ form.email.label }}</label>
                    {{ form.email(class="form-control", id="email", placeholder="Enter your email") }}
                </div>
            {% endif %}
    
            {% if form.password %}
                <div class="mb-3">
                    <label for="password" class="form-label">{{ form.password.label }}</label>
                    {{ form.password(class="form-control", id="password", placeholder="Create a password") }}
                </div>
            {% endif %}
    
            {% if form.confirm_password %}
                <div class="mb-3">
                    <label for="confirm_password" class="form-label">{{ form.confirm_password.label }}</label>
                    {{ form.confirm_password(class="form-control", id="confirm-password", placeholder="Confirm your password") }}
                </div>
            {% endif %}
    
            <button type="submit" class="btn btn-default">Register</button>
            
            <div class="login-link">
                <p>Already have an account? <a href="login">Login here</a></p>
            </div>
        </form>
    </div>

</div>
{% endblock %}